* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FAF9F6;
}



h1 {
    margin: 0;
    padding: 0;
}

/* Barra de navegação */

/* header {
    display: flex;
    align-items: center;
    background-color: #FFF2E8;
    height: 50px;
    width: 100%;
    padding: 5px;
    box-shadow: 0px 3px 5px rgb(122, 122, 122);;
    position: fixed;
    z-index: 10;  Serve para dar prioridade para a header, 
    fazendo com que ela sempre fique por cima de tudo
    
}.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
} */


/* VERSÃO COM BORDA ARREDONDADA E CENTER */



header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin-top: 15px;
    position: fixed;
    top: 0;
    z-index: 10;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;
    margin-top: 14px;
    padding: 5px;
    padding-left: 15px;
    width: 80%;
    background-color: #FFF2E8;
    box-shadow: 0px 3px 5px rgb(122, 122, 122);
}

.logo img {
    height: 50px;
}

.logo_inicial img {
    height: 50px;
}

.logo :hover {
    cursor: pointer;
}



.nav_botao {
    font-size: 20px;
    background-color: transparent;
    border: 0px;
    margin: 0px 10px;
    cursor: pointer;
}

.btn_login {
    width: 120px;
    height: 40px;
    padding: 7px;
    background-color: #FCC752;
    border-radius: 30px;
    align-items: center;
}

.dashcal {
    display: flex;
    margin-right: 10px;
}


body {
    padding: 0;
    color: #1f2937;
    background: linear-gradient(180deg, #FFF2E8 0%, #FCE6A9 60%, #F8D36D 100%);
}

.botao-inicial {
    display: flex;
    align-items: center;
    background-color: #00a859;
    border-radius: 15px;
    padding: 7px;
}

.inicial {
    color: white;
    padding: 0px;
    margin: 0px;
}

.homeicon {
    height: 15px;
    margin-right: 7px;
}

.botoes button {
    font-size: 0.88rem;
}

.fundoLoginECadastro {
    background-image: url(../images/fundo_loginecadastro.jpg);
    background-size: cover;
    filter: brightness(40%);
    background-repeat: no-repeat;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;

}

/*--talves o carrosel--, mas por enquanto uma imagem estatica*/

.imagesfundo {
    position: relative;
    width: 100%;
    filter: brightness(60%);
    margin-bottom: 40px;
}

.tituloPrincipal {
    font-size: 80px;
    gap: 1px;
    position: absolute;
    top: 30vh;
    left: 40vh;
    color: yellow;

}

/*            Nossos Serviços               */

.background_img {
    height: 0px;
}

.servicos {
    margin-bottom: 13vw;
    padding-top: 80px;
}

.titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;

}

.titulo h1 {
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(2, 65, 2);
    font-size: 28px;
}

.blocos {
    display: flex;
    justify-content: center;
    gap: 4vw;
}

.blocos .cards {
    height: 400px;
    width: 250px;
    border-radius: 50px;
    background-color: #f7d6b1;
    border: 5px;
    box-shadow: 5px 7px 5px rgb(187, 187, 187);
    ;
    overflow: hidden;
    /*para que a imagem de fundo não vaze para fora do card*/
}

.descricaoETitulo {
    border-top: 2px solid rgb(7, 44, 0);
    padding-top: 4px;
}

.descricaoETitulo h1 {
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

.descricaoETitulo p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.cardimagem {
    height: 40%;
    overflow: hidden;
}

.cards img {
    width: 100%;
}

.cards .descricaoETitulo {
    margin: 10px;
}

.cards .descricaoETitulo h1 {
    text-align: center;
}

.cards .descricaoETitulo p {
    text-align: center;
    margin-top: 13%;
}


/*Sobre nós/        -------SafeSoja-----          */
.sobre_nos {
    margin-bottom: 14vw;
    padding-top: 9vw;
}

.sobre_nos .sobrenos_content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.paragrafo {
    font-size: 1.5vw;
    margin: 0;
}

.descricaoSobre_nos {
    width: 55%;
    padding-left: 5vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    /*distancia entre os paragrafos*/
}


.sobre_nos img {
    height: 100%;
    width: 100%;
    margin-left: vw;
}

.sobrenos_img {
    height: 30vw;
    overflow: hidden;
    border-radius: 40px 0px 0px 40px;
    display: flex;
}




/*-----------------como funciona?-------------*/

.como_funciona {
    margin-bottom: 100px;
    padding-top: 80px;
}

.comofunciona_content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.como_funciona img {
    height: 100%;
    width: 100%;
}

.comofunciona_img {
    height: 30vw;
    overflow: hidden;
    border-radius: 40px 0px 0px 40px;
    display: flex;
}

.descricaoComo_funciona {
    width: 55%;
    padding-left: 5vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    /*distancia entre os paragrafos*/
}

/*      footer       */

.footer_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    height: 80vh;
    background-color: #694A38;
    border-top: 5px solid black;
}

.footer_content {
    display: flex;
    filter: initial;
    gap: 10vw;
}

.footer_content p,
.footer_content h1,
.footer_content span {
    color: white;
}


.footerlogo {
    background-color: #FAF9F6;
    height: max-content;
    width: max-content;
    padding: 10px;
    border-radius: 60px;
}

.footerlogo img {
    height: 90px;
}

.footer_contentbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    height: 90%;
    width: 55vw;
    border-radius: 20px;
    background-color: #FAF9F6;
    margin-left: 15vw;
}

.footer_content h1 {
    margin-bottom: 25px;
}

.midias,
.servicosF,
.recebaNovidades {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_contentbox h1 {
    font-size: 20px;
}

/* CARDS equipe*/
.equipe {
    margin-top: 150px;
    padding-top: 9vw;
}

.cardsgroup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 250px;
}


.card_membro {
    width: 200px;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card_membro:hover {
    transform: scale(1.05);
}

.card_membro img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.card_membro h3 {
    margin: 10px 0 5px;
}

.card_membro p {
    color: gray;
}


/* CONTAINER LOGIN/CADASTRO */

.login_body {
    background-color: #FFF2E8;
}

.login_container {
    width: 320px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}


.login_container h2 {
    margin: 0;
    font-weight: normal;
    color: rgb(2, 65, 2);
}

/* INPUTS */
.login_container input {
    height: 40px;
    border-radius: 25px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.login_container input:focus {
    border: 1px solid #FCC752;
    box-shadow: 0px 0px 5px #FCC752;
}

.login_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    height: 85vh;
}

/* BOTÃO */
.btn_entrar {
    height: 40px;
    border-radius: 25px;
    border: none;
    background-color: #FCC752;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn_entrar:hover {
    background-color: #e6b347;
}

/* MENSAGEM */
#div_mensagem {
    font-size: 14px;
    margin-top: 10px;
}

.btn_cadastro {
    margin-top: 10px;
    height: 40px;
    border-radius: 25px;
    background-color: #00a859;
    border: 2px solid #00a859;
    color: black;
    padding: 8px;
    cursor: pointer;
    width: 100%;
}

.btn_cadastro:hover {
    color: white;
    background-color: #00a859;
}

/* Calculadora */

.container {
    width: 90%;
    margin: 30px auto;
    margin-top: 20vh;
}

body {
    background-color: #FFF2E8;
}

.topo {
    background: linear-gradient(270deg, #c59f49, #daac48, #FCC752);
    padding: 20px;
    border-radius: 18px;
    margin-bottom: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    font-family: Arial, Helvetica, sans-serif;
}

.painel {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    height: min-content;
}

.campo input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #FFF2E8;
    color: black;
    box-sizing: border-box;
}

.campo label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

.card-form {
    background-color: #FCC752;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.card-form button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(90deg, #22c55e, #16a34a);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.card-form h2 {
    margin-top: 0;
    color: rgb(2, 65, 2);
}

.card p {
    font-weight: bolder;
    font-size: 35px;
}

.campo {
    margin-bottom: 15px;
}

.dashboard {
    flex: 2;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 180px;
    background-color: #FCC752;
    padding: 18px;
    border-radius: 18px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.detalhes {
    background-color: #FCC752;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.resposta {
    display: flex;
    justify-content: space-around;
    font-weight: 900;
    font-size: 20px;
}